body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4682b4;
  color: white;
  padding: 50px 20px;
}
